/*
Grey   -  #C8C8C8
Black  -  #3d1010
Red -  #d0494b
*/


body {
    background-color: #C8C8C8;
}

#header {
    background-color: #3d1010 ;
}

#header-title {
    color: #C8C8C8;
}

.map-button {
    color: #d0494b;
    background-color: #3d1010 ;
    font-weight: 700;
    border: none;
}


.map-button.active.focus,
.map-button.active:hover,
.map-button:active.focus,
.map-button:active:focus,
.map-button:active:hover,
.map-button.focus,
.map-button:focus,
.map-button:active,
.map-button.active,
.map-button.active:focus,
.map-button:hover {
    color: #3d1010 ;
    background-color: #d0494b;
}
