/* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*/

/*
Grey   -  #666666
Black  -  #282828
Orange -  #FF9933
*/

/* ###### General ########## */

body {
    background-color: #666666;
    color: white;
}

a {
    color: #FF9933;
}

a:hover {
    color: #FF9933;
    text-decoration: underline;
}


.modal-footer button,
.orange_button {
    background-color: #FF9933;
    border: none;
    color: white;
}

.modal-footer button:hover,
.orange_button:hover {
    background-color: #E08F3D;
    color: white;
}

.modal-footer button,
.orange_button span {
    font-weight: 600;
    margin: 0;
}

.black-button {
    color: #FF9933;
    background-color: #282828;
    font-weight: 700;
    border: none;
}

.options {
    position: absolute;
    padding: 0;
    margin: 0;
}

.option {
    cursor: pointer;
    padding-left: 12px;
}

.active_option,
.option.focus,
.option:focus,
.option:hover {
    color: #282828 ;
    background-color: #FF9933;
}

.dropdown_menu_button:hover,
.dropdown_menu_button:active,
.dropdown_menu_button:focus,
.dropdown_menu_button:active:focus {
    color: #FF9933;
    background-color: #282828;
}

.dropdown-menu .divider {
    margin: 0;
    background-color: #666666;
}

/* ##### Modal ##### */

.modal-open {
    padding-right: 0 !important;
}

.modal-content {
    background-color: #666666;
}

#about-modal-body h4,
.modal-header {
    color: #FF9933;
    font-weight: 700;
}

.modal-header {
    border: none;
}

.modal-footer {
     border: none;
}

#edition_modal_form {
    color: black;
}

#edition_modal_form,
#edition_modal_submitted_screen {
    display: none;
}

#warning_modal .modal-header {
    padding: 15px 15px 5px 15px;
}

#warning_modal .modal-body {
    padding: 0 15px;
}

#warning_modal .modal-footer {
    padding: 0 15px 15px 15px;
}

#about-modal-header {
    padding-bottom: 0;
}

/* ############ Buttons ############# */

#help_us_button {
    position: fixed;
    right: 0px;
    top: 20%;
    transform: rotate(-90deg) translateY(-100%);
    transform-origin: top right;
    z-index: 2;
    border: 1px solid #666666;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#about_button {
    position: fixed;
    bottom: 0px;
    z-index: 999;
    right: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0;
}

/* ############ Header ################## */

#header {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #282828;
}

#header-title-big {
    display: none;
}

@media (min-width: 531px) {
    #header-title-big {
        display: inline-block;
    }

    #header-title-small {
        display: none;
    }
}

.header-title {
    display: inline-block;
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #FF9933;
    padding-left: 0.4em;
}

#facebook-header-zone {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#header-image-user-facebook {
    display: inline-block;
}

#header-image-user-facebook img {
    border-radius: 50%;
}


/* ############ Map Zone ################## */

#main-zone {
    margin-right: 0;
    padding-right: 0;
}


#map-zone {
    padding: 0;
}


#dropdown_zone_menu {
    position: absolute;
    left: 30px;
    top: 11.5px;
    z-index: 8;
}


/* ########## Country Zone ############### */

#country-zone {
    position: relative;
    width: 100%;
    display: inline-block;
    font-family:'Open Sans', sans-serif;
    font-size: 100%;
    font-weight:400;
    padding: 3em 4em;
    margin: auto;
    background-color: #202020;
    color: white;
    font-family:'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400em;
    text-align: justify;
}

#country_name {
    text-align: center;
    color: white;
    margin: 1em 0;
    border: 0.1em solid #FF9933;
    border-radius: 0.2em;
    padding: 0.1em;
    background-color: #FF9933;
}

.country_zone_title {
    display: inline;
    font-weight: bold;
}

#country_zone_capital,
#country_zone_population,
#country_zone_region,
#country_zone_subregion,
#country_zone_music_description {
    margin-bottom: 1
}

.country_zone_description {
    font-size: 95%;
    display: inline;
}

#country_zone_flag {
    float: right;
    margin-left: 1em;
    border: 0.1em solid white;
    border-radius: 0.3em;
    padding: 0.3em;
}

#country_artists_top {
    margin: 10px 0;
    width: 250px;
    background-color: rgb(102, 102, 102);
}

#country_artists_top ol {
    padding-top: 10px;
    padding-bottom: 10px;
}

#country_artists_top li {
    font-weight: 600;
}

#country_artists_top p {
    display: inline-block;
    margin-bottom: 2px;
}

#country_artists_top li p:hover {
    text-decoration: underline;
    color: #FF9933;
    cursor: pointer;
}

#country_general_info {
    display: inline-block;
}

#artist_addition_form_zone {
    margin: 0.5em 0px;
    position: relative;
}

#artist_addition_form .form-group {
    margin: 0;
}

#artist_addition_form_zone .form-control {
    width: 10em;
}

#artist_addition_form {
    position: relative;
    display: inline-block;
}

#artist_addition_form input {
    display: inline-block;
}

#add_artist_button {
    position: relative;
    bottom: 1.5px;
}

@media (max-width:  774px) {
    #country_zone_flag {
        float: none;
        margin: 2em auto;
    }

    #input_artist_name {
        display: block;
    }

}

/* ########## Artist Zone ################ */

/*
#lastfm, #facebook-twitter,#youtube_video_artist, #artist-biography, #twitters-zone, #style-country-zone, #social-network-info-artist-zone {
    color: white;
}
*/


#artist-zone {
    width: 100%;
    height: 700px;
}

#header-artist-zone-name {
    font-size: 40px;
    color: #FF9933;
    line-height: 100%;
    padding-bottom: 0.6em;
}

#artist-info-artist-zone {
    width: 90%;
    margin-top: 30px;
}

#artist_id_card_first_column {

}

#artist_id_card_second_column {

}


#social-network-info-artist-zone {
    display: inline-block;
}

#facebook-logo-link,
#lastfm-logo-link {
    display: inline-block;
}

#facebook-likes,
#lastfm-listeners {
    display: inline-block;
}


#twitter-logo-link {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 110px;
    left: 20px;
}

#twitter-logo-pic {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
}

#twitter-followers {
    position: absolute;
    width: 130px;
    height: 28px;
    top: 110px;
    left: 120px;
}

#youtube_video_artist {
    display: block;
    margin: auto;
    border-width: 0;
}

@media (max-width: 1298px) {
    #youtube_video_artist {
        height: 277px;
        width: 370px;
    }
}

@media (max-width: 584px) {
    #youtube_video_artist {
        height: 260px;
        width: 347px;
    }
}

/*
#twitters-zone {
    position: absolute;
    top: 450px;
    left: 900px;
    width: 300px;
    border: 3px solid #73AD21;
}
*/

#artist-biography {
    text-align: justify;
    padding-right: 15px;
}

.artist_picture {
    display: block;
    margin: auto;
    width: 150px;
    border-radius: 50%;
}

#style-country-zone {
    display: inline-block;
}

#artist_id_card {
    margin-bottom: 2em;
}

#artist_main_info {
    padding-bottom: 2em;
}

#delete_artist_button {
}

#artist_d3_circle_graphs svg {
    display: block;
    margin: auto;
}


#artist_d3_circle_graphs g {
    height: 200px;
    width: 200px;
}

#artist_d3_circle_graphs a:hover {
    text-decoration: none;
    filter: brightness(130%);
    opacity: .8;
    cursor: pointer;
}

.circle_graphs_text_header {
    font-weight: 700;
}
